@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-color: #7f60f9 transparent;
  scrollbar-width: thin;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at bottom, #ff6ddf30, transparent 50%);
}

input[type='string'] {
  background: transparent;
  border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  background-color: #ac60f94d;
}
::moz-selection {
  background-color: #ac60f94d;
}
