@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Actual value is fetched and set from the backend in the code */
  --round-timeout: 5000ms;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #7f60f9 transparent;
  scrollbar-width: thin;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at bottom, #ff6ddf30, transparent 50%);
}

input[type='string'] {
  background: transparent;
  border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='range']::-webkit-slider-thumb {
  background-color: #7f60f9;
}

::selection {
  background-color: #ac60f94d;
}
::moz-selection {
  background-color: #ac60f94d;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.rotate-animation {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dots-loader::before {
  animation: dots 1s linear infinite;
  content: '.';
}

@keyframes dots {
  0%,
  30% {
    content: '.';
  }
  60% {
    content: '..';
  }
  90% {
    content: '...';
  }
}

.hats-animation {
  animation: hats-bg-slide 10s linear infinite;
}

@keyframes hats-bg-slide {
  100% {
    transform: translateX(-100%);
  }
}

.reveal-winner {
  will-change: transform;
  transition: all var(--round-timeout) cubic-bezier(0, 0.3, 0.3, 1.05) 0s;
}

.mask-hat {
  mask-image: url('/img/neged-hat.png');
  mask-size: cover;
}

.double-rows-break {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
