@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-color: #7f60f9 transparent;
  scrollbar-width: thin;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at bottom, #ff6ddf30, transparent 50%);
}

input[type='string'] {
  background: transparent;
  border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  background-color: #ac60f94d;
}
::moz-selection {
  background-color: #ac60f94d;
}

.rotate-animation {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dots-loader::before {
  animation: dots 3s linear infinite;
  content: '.';
}

@keyframes dots {
  0%,
  30% {
    content: '.';
  }
  60% {
    content: '..';
  }
  90% {
    content: '...';
  }
}

.hats-bg {
  background-image: url('/img/hats-bg.svg');
  background-position: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.mask-hat {
  mask-image: url('/img/neged-hat.png');
  mask-size: cover;
}
